/* VARIABLES */
/* FONTS */
/* RESET SRTLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* BASIC STYLES */
body {
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 15px;
  border-radius: 15px;
}
.chart {
  background-color: lightblue;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.3s linear;
}
.chart:hover {
  transform: translateY(-5px);
}
.wrong {
  background-color: red;
  cursor: auto;
}
.correct {
  background-color: green;
}
.start-game-btn {
  padding: 15px;
  background-color: lightblue;
  margin: auto;
  display: block;
}
.disable {
  display: none;
}
