/* VARIABLES */
/* FONTS */
/* RESET SRTLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* BASIC STYLES */
body {
  background-color: whitesmoke;
}
.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 15px;
  border-radius: 15px;
}
.chart {
  background-color: lightblue;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.3s linear;
}
.wrong {
  background-color: red;
  cursor: auto;
}
